name: my first workflow
on: push
jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Welcome Message
          run: echo "Hello form github actions flow"
        - name: list files
          run: ls
        - name: show directory
          run: pwd